body {
  background-color: #EDEDED;
}

main {
  padding-top: 21px;
  margin-right: 300px;
  margin-left: 300px;
}

/* Header */
header {
  background-image: url("../lampos-aritonang-24gR_9lCdes-unsplash.png");
  height: 667px;
  background-size: cover;
  background-position: center;
}
header .header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .header-container .search-bar {
  padding-top: 30px;
}
header img {
  margin-top: 51px;
  margin-left: 69px;
  width: 180.35px;
  height: 25.26px;
}
header h1 {
  color: #FFD15B;
  font-family: "Anton", sans-serif;
  margin-top: 180px;
  text-align: center;
}
header input {
  width: 954px;
  height: 72px;
  border-radius: 11px;
  border: none;
  padding-left: 35px;
}
header input::-moz-placeholder {
  font-size: 16px;
}
header input::placeholder {
  font-size: 16px;
}
header .bi-search {
  color: white;
  background-color: #1B1B1B;
  border-radius: 10px;
  padding: 12px 15px 12px 15px;
  position: absolute;
  transform: translateX(-125%);
  margin-top: 10px;
  cursor: pointer;
}
header .bi-search:hover {
  color: black;
  background-color: #FFD15B;
}

/* Dropdown */
main .dropdown-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .dropdown-container .dropdown-button {
  display: flex;
  gap: 66px;
}
main .dropdown-container .dropdown-button .dropdown .dropdown-toggle {
  width: 195px;
  padding: 17px;
}
main .dropdown-container .dropdown-button .dropdown .dropdown-menu-ingredient,
main .dropdown-container .dropdown-button .dropdown .dropdown-menu-appliance,
main .dropdown-container .dropdown-button .dropdown .dropdown-menu-utensil {
  height: 324px;
  overflow: hidden;
}
main .dropdown-container .dropdown-menu input {
  margin: auto 16px 11px 16px;
}
main .dropdown-container .dropdown-menu .bi-search {
  position: absolute;
  transform: translate(-40px, 3px);
  cursor: pointer;
}
main .dropdown-container .dropdown-menu .dropdown-item:hover {
  background-color: #FFD15B;
}
main .dropdown-container p {
  margin-bottom: 0;
  font-family: "Anton", sans-serif;
}

/* Label Search*/
.parent-div {
  display: flex;
  padding-top: 21px;
  gap: 20px;
}

.selected-item {
  background-color: #FFD15B;
  padding: 18px;
  border-radius: 10px;
}

.close-button {
  background: none;
  border: none;
  font-weight: bold;
}

/* Recipes Cards */
main .recipes-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 66px 48px;
  padding-top: 55px;
}
main .recipes-cards .recipe-content {
  width: 380px;
  height: 731px;
  background-color: white;
  border-radius: 21px;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
}
main .recipes-cards .recipe-content .recipe-img {
  width: 380px;
  height: 253px;
  border-radius: 21px 21px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
main .recipes-cards .recipe-content .recipe-info {
  padding: 25px;
}
main .recipes-cards .recipe-content .recipe-info h2 {
  font-family: "Anton", sans-serif;
  font-size: 18px;
  padding-top: 16px;
  margin-bottom: 0;
}
main .recipes-cards .recipe-content .recipe-info .recipe-time {
  font-size: 12px;
  position: absolute;
  transform: translate(270px, -290px);
  background-color: #FFD15B;
  padding: 5px 15px 5px 15px;
  border-radius: 14px;
}
main .recipes-cards .recipe-content .recipe-info .font-manrope {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  padding-top: 29px;
}
main .recipes-cards .recipe-content .recipe-info .font-manrope .recipe-title {
  color: #7A7A7A;
}
main .recipes-cards .recipe-content .recipe-info .font-manrope .recipe-description {
  height: 90px;
  overflow: hidden;
}
main .recipes-cards .recipe-content .recipe-info .font-manrope .ingredients-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main .recipes-cards .recipe-content .recipe-info .font-manrope .ingredients-grid .ingredient-ingredient {
  font-weight: bold;
  margin-bottom: 0;
}
main .recipes-cards .recipe-content .recipe-info .font-manrope .ingredients-grid .ingredient-quantity {
  color: #7A7A7A;
}/*# sourceMappingURL=style.css.map */